body {
  font-family: "Lato", sans-serif;
  background: #00247d;
}

.centered {
  position: fixed;
  top: 42%;
  left: 5%;
  font-weight: 700;
  width: 100%;
  font-size: 10vw;
  margin-top: -10vw;
}

.red {
  color: #cf142b;
}

.white {
  color: white;
}
